<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- This template can be downloaded from www.openwebdesign.org. Just search for neuphoric -->
<!-- This template has been modified by mejobloggs (http://www.openwebdesign.org/userinfo.phtml?user=mejobloggs) -->
<!-- Please use this template according to the license on the original template (included as pleaseread.txt) -->
<!-- The original of this template was designed by http://www.tristarwebdesign.co.uk - please visit for more templates & information - thank you. -->

<head>
	<title>CouchDBX</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/couchdbx/css/screen.css" />
</head>

<body id="altbody">

<div id="wrapper-header">
	<div id="header">
		<h1>CouchDBX</h1>
	</div>
</div>

<div id="wrapper-menu">
	<div id="menu">
		<ul>
			<li><a title="Home" href="/couchdbx/">Home</a></li>
			<li><a title="Project Home" href="https://github.com/JonGretar/couchdbx/tree">Project Home</a></li>
			<li><a title="Wiki" href="http://github.com/JonGretar/couchdbx/wikis">Wiki</a></li>
			<li><a title="Blog" href="http://medevyoujane.com">Blog</a></li>
			<li><a title="Download" href="http://dl-client.getdropbox.com/u/65508/CouchDBX.zip">Download</a></li>
			
		</ul>
	</div>
</div>

<div id="content">
	
	{{ content }}
	
</div>

<div id="footer">
	original design by <a title="derby web design" href="http://www.tristarwebdesign.co.uk">tri-star web design</a>
</div>

</body>

</html>